*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 30%;
    height: 70%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    padding: 2vh;
    background-color: white;
}
.input{
    width:90% ;
    height: 70px;
 
  
}
.input input{
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    font-size: 30px;
    height: 100%;
    padding-left: 20px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
  gap: 25px;
}
.button{
    font-size: 2vw;
border: 2px solid black;
padding: 15px 20px;
font-weight: 900;
border-radius: 50%;
}